.btn-time{
    padding: 15px 20px 15px 20px;
    margin: 20px 20px 20px 0;
    &:hover{
        background-color: #031d33 ;
        color: white;
    }
    border-radius: 15px;
    border: 1px solid black;
    font-weight: 500;
}
