.title-col{
    padding-left: 50px;
}
.col-img{
    text-align: center;
}
.col-img img{
    border: none;
    border-radius: 10px;
    height: 450px;
    width: 300px;
}
.schedule-day{
    list-style: none;
    padding-top: 20px;
    margin-right: 20px;
}
.time1{
    list-style: none;
    padding-top: 20px;
    margin-right: 20px;
    
}
.time2{
    list-style: none;
    padding-top: 20px;
    margin-right: 20px;
}
.time3{
    list-style: none;
    padding-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
div>Row{
    margin-right: 20px;
}
.btnright1{
    position: absolute;
    top: 30%;
    right: 25px;
    z-index: 20;
    transform-origin: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: 40px;
    font-size: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnleft1{
    position: absolute;
    top: 30%;
    left: 25px;
    z-index: 20;
    transform-origin: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: 40px;
    font-size: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-form{
    
    border: 1px solid black;
    border-radius: 20px;
}
.booking{
    font-size: 30px;
    background: linear-gradient(to right, #00ff99 20%, #0099ff 100%);
    background-clip: text;
    color: transparent;
    cursor: pointer;
    font-weight: 600;
    
    &:hover{
        background-color: #0099ff;
    }
}
.background-booking{
    background-color: #041f37;
    border-radius:10px ;
    margin: 30px 50px 30px 50px;
    padding: 10px;
}
.name-class{
    margin: 30px 0 10px 150px;
    font-size: 30px;
    font-weight: 600;
}

.btn1{

    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 0;
    border-radius: 15px;
    border: 1px solid black;
    font-weight: 500;
    cursor: pointer;
    overflow-x:auto;
    min-width: 110px;
    line-height: 15px;
    background-color: rgb(240, 240, 240);
    font-size: 18px;
}
.btn2{

    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 0;
    border-radius: 15px;
    border: 1px solid black;
    font-weight: 500;
    cursor: pointer;
    overflow-x:auto;
    min-width: 110px;
    line-height: 15px;
    background-color: rgb(240, 240, 240);
    font-size: 18px;
}
.content-board{
    padding-left: 50px;
    font-size: 20px;
    overflow-x: auto;
    display: flex;
}
.content-board-time{
    padding-left: 200px;
    font-size: 20px;
    overflow-x: auto;
    display: flex;
}
.item{
    margin-top: 10px;
}

.showtimeselected{
    font-size: large;
    padding: 10px 0 10px 0;
}
.showdateselected{
    font-size: large;
    padding-top: 10px;
}
.showdateselected{

    font-size: medium   ;
}
p{
    font-size: medium;
}
h4{
    font-size: larger   ;
}

